body {
    background-color: lightgoldenrodyellow;
    color: darkgreen;
}

h1 {
    font-size: 32pt;
    font
    font-family: Verdana, "Times New Roman", sans-serif;
}

h2 {
    font-size: 14pt;
}

ul {
    font-size: 10pt;
}